#temp folder for working files
/temp
/utils

#vscode
.vscode
Cold-War-Project.code-workspace

#mac
.ds_store
*.ipynb
*.xlsx

*.icloud
.vs/CWP-Main/v17/workspaceFileList.bin
.vs/CWP-Main/v17/.suo
.vs/slnx.sqlite
.vs
.vs/slnx.sqlite
*.sqlite
